body {
    font-family: 'Quicksand', sans-serif;
    background-color: #F5F5F5;
}

h1 {
    color: #430dd5;
    font-family: 'Quicksand', sans-serif;
}

h2,
h3 {
    color: #5b23f2;
    font-family: 'Quicksand', sans-serif;

}

/* 
.currentBooks-container {
    background-color: red;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    margin: 15px;
    color:#5b23f2;
    border:20px;
    font-family: 'Quicksand', sans-serif;;
   
} */

.input-container {
    background-color: #CDD9F8;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    font-family: 'Quicksand', sans-serif;
    border-color: #5b23f2;
    border-style: solid;
    border-width: 3px;


}

.currently-reading-display-card {
    text-align: center;
    background-color: #CDD9F8;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
    width: auto;
    max-width: 100%;
    color: #430dd5;
    border-color: #5b23f2;
    border-style: solid;
    border-width: 3px;



    /* max-width:100px; */
}

.submit-btn {
    color: white;
    background-color: #a7bef3;
    font-size: 18px;
    border-color: white;
    padding: 4px;
    font-family: 'Quicksand', sans-serif;
    border-color: #5b23f2;
    border-style: solid;
    border-width: 1px;



}

.add-to-list-btn {
    background-color: #a7bef3;
    /* border-color: #5b23f2; */
    color: white;
    font-size: 18px;
    padding: 5px;
    font-family: 'Quicksand', sans-serif;
    border-color: #5b23f2;
    border-style: solid;
    border-width: 1px;
}