.want-to-read-header {
    width: 50%;

}

.want-book-card {
    background-color: #F5F5F5;
    
    border-radius: 15px;
    padding: 30px;
    border-color: #e6e6e6;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    width: 30%;
    max-width: 100%;
    border-style: solid;
    border-width: 2px;
    font-family: 'Quicksand', sans-serif;
   
}

.want-book-submit-btn {
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    font-family: 'Quicksand', sans-serif;
    border-color: darkgray;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    color: #c5065e;

}

.want-book-submit-btn:hover {
    background-color: #c5065e;
    border-color: white;
    border-width: 3px;
    color: white;
}