/* h1 {
  color: #f70776;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  /* Center horizontally 

}

.banner-img {
  border-radius: 15px;
  width: 50%;
  height: auto;
  justify-content: center;

}

.AuthPage-text {
  color: #f70776;
}

.signup-form-container,
.login-form-container {
  flex-direction: center;
  padding: 20px;
  margin: 5px;
  font-family: 'Quicksand', sans-serif;
  border-color: #f70776;
  border-style: solid;
  border-width: 3px;
  width: 30%;
  background-color: #F5F5F5;
  border-radius: 15px;
  border-color: #e6e6e6;
}

.submit-btn {
  font-size: 15px;
  padding: 5px;
  margin: 5px;
  font-family: 'Quicksand', sans-serif;
  border-color: darkgray;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  color: #c5065e;

}

.submit-btn:hover {
  background-color: #c5065e;
  border-color: white;
  border-width: 3px;
  color: white;
} */

.login-form-container {
  /* remove display: flex; and justify-content: center; */
  padding: 0;
  /* adjust as needed */
  margin: 0;
  /* adjust as needed */
  border: none;
  background-color: transparent;
  box-shadow: none;
}

h1 {
  color: #f70776;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  /* Center horizontally */
}

.banner-img {
  border-radius: 15px;
  /* min-width: 400px; */
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.AuthPage-text {
  color: #f70776;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
}

.signup-form-container,
.login-form-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 5px;
  font-family: 'Quicksand', sans-serif;
  border: 3px solid #f70776;
  width: 100%;
  max-width: 400px;
  background-color: #F5F5F5;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.submit-btn {
  font-size: 15px;
  padding: 5px;
  margin: 5px;
  font-family: 'Quicksand', sans-serif;
  border: 2px solid darkgray;
  border-radius: 5px;
  color: #c5065e;
}

.submit-btn:hover {
  background-color: #c5065e;
  border-color: white;
  border-width: 3px;
  color: white;
}

.auth-h2 {
  color: #f70776;
  text-align: center;
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  align-content: center;
  justify-content: center;
  font-weight: 100;
  text-align: center;
  margin: 0;
  animation: shadows 1.8s ease-in infinite;
  letter-spacing: 0.1rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }

  10% {
    transform: translate(-3px, -3px);
    text-shadow: 3px 3px 0 var(--color-secondary);
  }

  20% {
    transform: translate(-6px, -6px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }

  30% {
    transform: translate(-9px, -9px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }

  40% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }

  50% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }

  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }

  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }

  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }

  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }

  100% {
    text-shadow: none;
  }
}