h1 {
    color: #430dd5;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center; /* Center horizontally */
  
  }
  
  h2,
  h3 {
    color: #5b23f2;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center; /* Center horizontally */
  
  }

  /* .AuthPage-text{
    font-family: 'Quicksand', sans-serif;
    justify-content: center; /* Center horizontally} */
 


  .banner-img{
    border-radius: 15px;

  }

  .signup-form-container{
    flex-direction: center;;
    background-color: #CDD9F8;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    font-family: 'Quicksand', sans-serif;
    border-color: #5b23f2;
    border-style: solid;
    border-width: 3px;
  }

  /* .login-form-container{
    flex-direction: center;;
    background-color: #CDD9F8;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    font-family: 'Quicksand', sans-serif;
    border-color: #5b23f2;
    border-style: solid;
    border-width: 3px;

  } */

  .submit-btn {
    color: white;
    background-color: #a7bef3;
    font-size: 18px;
    border-color: white;
    padding: 4px;
    font-family: 'Quicksand', sans-serif;
    border-color: #5b23f2;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    grid-column: span 2;



}