.reviews-row {
   display: flex;
   justify-content: space-between;
   align-items: start;
}

.carousel-container {
   position: relative;
   width: 300%;
   overflow-x: auto;
   white-space: nowrap;
   padding: 10px 0;
   height: auto;
}

/* .carousel-arrow-right,
.carousel-arrow-left {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
   font-size: 24px;
   background-color: rgba(255, 255, 255, 0.7);
   padding: 5px 10px;
   border-radius: 50%;
   z-index: 10;
   color: #c5065e;
}

.carousel-arrow-right {
   right: 10px;
}

.carousel-arrow-left {
   left: 10px;
} */


.carousel-arrow:hover {
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.readBooks-container {
   display: inline-block;
   overflow-x: auto;
   scrollbar-width: none;
}

.read-book-card {
   display: inline-block;
   vertical-align: top;
   background-color: #F5F5F5;
   border-radius: 15px;
   padding: 20px;
   margin: 20px;
   border: 2px solid #e6e6e6;
   font-family: 'Quicksand', sans-serif;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
   transition: box-shadow 0.3s ease-in-out;
   /* width: calc(30% - 40px); */
   max-width: 30%;
   width: 25%;
   /* Deducting the margin from width to ensure the card doesn't expand beyond its boundary */
   transition: max-height 0.3s ease-in-out;
   /* Smooth transition for height expansion */
   overflow: visible;
   /* Hide any content that exceeds the max-height */
   /* max-height: 300px;  */
}

/* Hide scrollbar for Webkit browsers */
::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for browsers */
.carousel-wrapper::-webkit-scrollbar,
.carousel-wrapper {
   display: none;
   -ms-overflow-style: none;
   /*Edge */
   scrollbar-width: none;
   /* Firefox */
}

.read-reviews-header {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.readbooks-input-container {
   padding: 20px;
   margin: 5px;
   border: 3px solid #f70776;
   border-radius: 15px;
   font-family: 'Quicksand', sans-serif;
   background-color: #F5F5F5;
   box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
   transition: box-shadow 0.3s ease-in-out;
   justify-content: center;
   align-items: center;
   max-height: 400px;
   min-width: 350%;
   max-width: auto;
   overflow-y: auto;
}

.readbooks-input-container:hover,
.read-book-card:hover {
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 8px 24px rgba(0, 0, 0, 0.3);
}

.readbook-submit-btn,
.read-review-add-btn {
   font-size: 15px;
   padding: 7px;
   margin: 5px;
   font-family: 'Quicksand', sans-serif;
   border-color: darkgray;
   border-style: solid;
   border-width: 2px;
   border-radius: 5px;
   color: #c5065e;
   background-color: white;

}

.readbook-submit-btn:hover,
.read-review-add-btn:hover {
   background-color: #c5065e;
   border-color: white;
   border-width: 3px;
   color: white;
}

.favorite-text {
   color: #f70776;
}

.book-title,
.book-author,
.review-title {
   color: slategray;
}


/* Media query for tablets and smaller devices */
@media (max-width: 768px) {

   .readbooks-input-container h3,
   .readbooks-input-container h5 {
      font-size: smaller;
      margin: 5px 0;

   }

   .readbooks-input-container input[type="text"] {
      width: 90%;
      margin: 5px auto;
      display: block;

   }

   .readbooks-input-container button {
      display: block;
      margin: 10px auto;

   }

}