.logo-img{
    width: 12%; /* Adjust the width to your desired size */
    height: auto; /* Maintains the aspect ratio of the image */
    vertical-align: middle; /* Aligns the image vertically within the link */
    border-radius: 15px;
   
}

.nav-link {
    color: #5b23f2;
    font-family: 'Quicksand', sans-serif;
}

.nav-link:hover{
    color: #a7bef3;
}
