.logo-img{
    width: 8%; /* Adjust the width to your desired size */
    height: auto; /* Maintains the aspect ratio of the image */
    vertical-align: middle; /* Aligns the image vertically within the link */
    border-radius: 15px;
   
}

.nav-link {
    color: #f70776;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
}

.nav-link:hover{
    color: #c5065e;
}
