.App {
  text-align: center;
  
}

html, body, .main {
  height: 100%;
}

.main {
  min-height: calc(100vh - 60px); /* subtracting our footer height */
  display: flex;
  flex-direction: column;
}

.footer {
  /* margin-top: auto; 
  padding: 1em; 
  background-color: #e6e6e6; 
    border-radius: 10px; */
  border-top: 2px solid #f70776; 
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-family: 'Quicksand', sans-serif;
  bottom: 0;
  color: #c5065e;
  height: 60px; /* This is our set footer height */
  background-color: #f0f0f0; 
 
}

h1 {
  color: #f70776;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center; /* Center horizontally */

}

h2,
h3 {
  color: #f70776;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center; /* Center horizontally */

}
